site_name: Xionghaha
site_author: xionghaha
repo_url: https://github.com/Honei/xionghaha
copyright: "Copyright &copy;; 2024 - now | xionghaha "

theme:
  features: # 功能  
    - announce.dismiss # 可以叉掉公告的功能
    - content.action.edit # 编辑按钮，似乎没啥用
    - content.action.view # 查看按钮，似乎没啥用
    - content.code.annotate # 代码注释，具体不清楚
    - content.code.copy # 复制代码按钮
    # - content.code.select # 选择代码按钮
    # - content.tabs.link # 链接标签
    - content.tooltips # 不太清楚呢这个
    # - header.autohide # 自动隐藏header
    - navigation.expand # 默认展开导航栏
    - navigation.footer # 底部导航栏
    - navigation.indexes # 索引按钮可以直接触发文件，而不是只能点击其下属选项浏览，这个功能可以给对应的section提供很好的预览和导航功能
    # - navigation.instant # 瞬间加载 - 如果这个开着，那么语言切换后就会跳转至首页，所以我关掉了
    - navigation.instant.prefetch # 预加载
    - navigation.instant.progress # 进度条
    - navigation.path # 导航路径， 目前好像没啥用
    # - navigation.prune # 只构建可见的页面
    - navigation.sections # 导航栏的section
    - navigation.tabs # 顶级索引被作为tab
    - navigation.tabs.sticky # tab始终可见
    - navigation.top # 开启顶部导航栏
    - navigation.tracking # 导航栏跟踪
    - search.highlight # 搜索高亮
    - search.share # 搜索分享
    - search.suggest # 搜索建议
  name: 'material'
  language: 'zh'
  palette:
    - media: "(prefers-color-scheme)"
      scheme: slate
      primary: black
      accent: indigo
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo

plugins:
  - tags
  - blog
  - i18n:
      docs_structure: suffix
      languages: # 多语言配置 - 需要小心一点
        - locale: en
          default: false # 默认语言
          name: English
          build: true # 是否构建
          # site_name: Infinity
        - locale: zh
          name: 简体中文
          build: true
          default: true
          nav_translations: # 导航栏翻译，不可以有缩进
            home: 首页
            about: 关于
            hardware: 硬件
            basic: 基础
            introduction: 介绍
            datasets: 数据集
            tod: 任务式对话
            todo: 待办
            rewrite: 多轮改写
  - open-in-new-tab
  - search
  - autolinks 
nav:
  - home:
    - "index.md"
    - about: "./home/about.md"
  - datasets:
    - tod: "./datasets/tod.md"
  - hardware:
    - basic: "./hardware/基础.md"
  - tokenizer:
    - introduction: "./tokenizer/introduction.md"
  - rewrite:
    - introduction: "./rewrite/introduction.md"
  - onnx:
    - introduction: "./onnx/introduction.md"
  - todo:
    - todo: "./todo/todo.md"

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js
